<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charles Babbage</title>
</head>
<body>
    <img src="/babage.jpg" alt="foto babage">
    <h1>Charles Babbage</h1>
    <p>Charles Babbage nació el 26 de diciembre de 1791 en Walworth Surrey, en las afueras de Londres, a unos pocos
        metros de la casa donde tres meses antes nació Michael Faraday. Fue un matemático británico y científico de la
        computación. Desde muy pequeño mostró interés por entender el funcionamiento de las cosas, pero sobretodo, por
        las matemáticas. Hijo de Benjamin Babbage, banquero londinense, aprendió matemáticas de forma autodidacta
        leyendo cualquier libro que caía en sus manos, y además, recibió formación de varias escuelas y profesores de
        élite durante el transcurso de su educación primaria. Era un niño débil y enfermizo, lo cual ocasionó que sobre
        los ocho años padeciera una severa fiebre y sus padres, temiendo por su vida, decidieron enviarlo al campo por
        un tiempo para que se recuperara. Lo enviaron a Teignmouth, Devonshire, lo que ha ocasionado confusiones sobre
        su lugar de nacimiento.</p>
    <p>Babbage también se interesó desde joven por lo sobrenatural. Su pasión por lo oculto parece ser una afición
        motivada únicamente por su enorme imaginación. A pesar de sus constantes decepciones en lo referente a este
        tema, su interés por lo esotérico no disminuyó, y se dice que durante sus años en la Universidad, formó un club
        de aficionados a los fantasmas, para recolectar información sobre los fenómenos sobrenaturales.</p>
    <p>Llegó a la Universidad de Cambridge en 1810 con una enorme cultura, sobretodo en el ámbito de las matemáticas.
        Quedó bastante decepcionado al descubrir que las matemáticas de Newton (que había muerto 200 años antes) seguían
        vigentes en Cambridge, sin mayor evolución, e ignorando todos los avances que se habían dado en América y en
        algunas partes aisladas de Europa.</p>
    <p>Babbage se convenció de que sus conocimientos de matemáticas eran superiores a los de sus maestros, así que junto
        con John Herschel, hijo de William Herschel (descubridor de Urano) y George Peacock entre otros, formaron la
        Sociedad Analítica para promover las matemáticas al estilo continental como el primer paso para la revolución
        tecnológica. . Posteriormente, Babbage se llegaría a convertir en un defensor influyente de la aplicación
        sistemática de la ciencia a la industria y el comercio. La Sociedad Analítica entró en conflicto con los
        matemáticos newtonianos de Cambridge.</p>

        <h4>Continuar:</h4>

        <a href="/berners-lee">Sobre Berners-Lee</a>

        <a href="/">
            <h4>Volver al inicio</h4>
        </a>
    </body>

</html>