<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tim Berners-Lee</title>
</head>
<body>
    <h1>Tim Berners-Lee: El hombre que conecto al mundo.</h1>

    <img src="/berners-lee.jpg">

    <p> El 23 de agosto de 1991 fue la primera vez en la historia que usuarios externos al CERN pudieron empezar a
        acceder a su última creación. Llevaba dos años siendo desarrollada por el científico informático Tim
        Berners-Lee, y se trataba de una red con la que poder conectar varios ordenadores para compartir información. Se
        llamaba World Wide Web y al haber sido el 23 de agosto el día en el que se abrió al mundo hoy se celebra el Día
        del Internauta. Y viene bien recordar cómo era navegar en Internet en aquellos tiempos, porque hoy en día
        estamos tan acostumbrados a utilizar la web que no se nos ocurre pensar que empezó a abrir sus puertas sólo hace
        25 años. </p>

    <h2>Los primeros pasos de la World Wide Web </h2>

    <p>Después de graduarse en Oxford, Tim Berners-Lee entró a trabajar como ingeniero de software en el CERN en junio
        de 1980. Allí se dio cuenta que los muchos científicos tenían bastantes problemas para compartir la información,
        ya que había muchos datos repartidos en diferentes ordenadores, pero había que loguearse en cada uno para ir
        accediendo a ellos.</p>

    <p>Fue entonces cuando empezó a trabajar en un proyecto que presentó en marzo de 1989. Se trataba de una propuesta
        para la gestión de la información (Information Management: A Proposal), en la que proponía solucionar los
        problemas de pérdidas de datos utilizando un sistema distribuido de hipertextos. Todos los ordenadores estarían
        conectados entre sí para que fuera más fácil acceder a la información de cada uno.</p>

    <p>El proyecto no causó demasiado entusiasmo, pero tal y como explican en la web de la Web Foundation, su jefe le
        permitió en septiembre de 1990 que empezase a trabajar en él. Para octubre de ese mismo año Berners-Lee ya había
        desarrollado tres tecnologías fundamentales para sacarlo adelante: el lenguaje HTML, las direcciones URI
        (comúnmente conocidas como URL) y el protocolo de transferencia de hipertextos HTTP.</p>

</body>

</html>